.Buttons {
    margin-top: 30px;
    display: flex;
}
.Buttons-ButtonPositive {
    padding: 17px 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.66667rem;
    color: #000000;
    border-radius: 8px;
    cursor: pointer;
    background: #FFD93E;
}
.Buttons-ButtonNegative {
    padding: 17px 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.66667rem;
    color: #000000;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    background: #E5E5E5;
}